*, *::before, *::after {
    box-sizing: inherit;
}
html {
    box-sizing: border-box;
}

.bubble {
    left:0;
    top:0;
    position: absolute;
    height:50px;
    width:50px;
    border-radius:50%;
    background-color:lightblue;
    animation: bounce .5s cubic-bezier(.4, -.9, .6, 1.9) forwards;
    transform: translate(-50%, -50%);
    transition:
      width .3s cubic-bezier(.7, -.6, .4, 1.5),
      height .3s cubic-bezier(.7, -.6, .4, 1.5),
      opacity .3s ease-out
    ;
}

.is-popping {
    height:0;
    width:0;
    opacity:0;
    animation-name: none;
}
@keyframes bounce {
  0% {
    height: 50px;
    width: 50px;
  }
  100% {
    height: 100px;
    width: 100px;
  }
}
